<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlarmBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AlarmBot.Properties.Settings>
            <setting name="PilotName" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TakeControlPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BeginView" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EndView" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </AlarmBot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
